$Gray01: #323438;
$Gray02: #85878C;
$Gray03: #E5E6E9;
$White: #FFFFFF;
$Green: #00C362;
$Blue: #2196F3;
$Shadow: #1E283A;
 
:export {
	gray01Color: $Gray01;
	gray02Color: $Gray01;
	gray03Color: $Gray01;
	whiteColor: $White;
	greenColor: $Green;
	blueColor: $Blue;
	shadowColor: $Shadow;
}

$img-url : 'https://jpassets.jobplanet.co.kr/assets';